<?xml version="1.0"?>
 
<model>
   <name>yellow_car</name>
   <version>1.0</version>
   <sdf version='1.5'>urdf/yellow_car.urdf</sdf>
   <author>
   <name>Ryan Brown</name>
   <email>rbrown53@huskers.unl.edu</email>
   </author>
   <description>
      Gazebo model for the yellow car.
   </description>
</model>
